# gitattributes
README.md export-ignore
__imports__ export-ignore
__init__.py export-ignore
git-fetch export-ignore
hook.sh export-ignore
index.js export-ignore
jest.config.js export-ignore
node_modules export-ignore
package-lock.json export-ignore
package.json export-ignore
public export-ignore
# repos
rollup.config.js export-ignore
schema.json export-ignore
scripts export-ignore
tests export-ignore
tsconfig.json export-ignore 
vendor export-ignore
